<div class="row">
    <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
        <img src="C:\Users\wendy\Documents\GitHub\ProyectoBurneJesica\Proyecto final\Proyectofinal_BurneJesica\src\assets\imagenes\profile.jpg.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col md-2 col-lg-2">
        <p id="nombre">Burne Jesica</p>
        <p>Full Stack</p>
    </div>
    <div class="col-xs-12 col-sm-8 col md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>lorem

            </p>
        </span>
    </div>    


  
</div>
